.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chart-title {
  color: #002a41;
  font-weight: bold;
  /*font-size: 20px;*/
  font-size: 1.5em;
  margin-top:  2em;
}

/*#rhomb {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 3;
}*/

@media screen and (max-width: 480px) {
  .legend {
    width:  100%;
  }

  .rc-slider {
    order: -2;
  }

  .chart-title {
    margin-top:  0;
  }

  h2 {
    text-transform: uppercase;
  }
}